<app-header></app-header>
<div class="main user">
  <!-- user left -->
  <mat-card class="left-user">
    <!-- left top user -->
    <div class="info-user">
      <!-- chứa ảnh nằm bên trái thẻ div -->
      <div class="img-user">
        <advanced-image style="border-radius: 50%;" [cldImg]="img"></advanced-image>
      </div>
      <div class="name-edit-container">
        <h3 class="user-name">{{ getCustomer?.fullName }}</h3>
        <div class="edit-button-1" (click)="selectImage()">
          <p>Sửa ảnh</p>
          <mat-icon>edit</mat-icon>
          <input type="file" id="file-input" (change)="onSelect($event)" accept="image/*" style="display: none;">
        </div>
      </div>
    </div>

    <!-- left bottom user -->
    <div class="menu-user ">
      <mat-list role="list">
        <mat-list-item role="listitem" class="menu-list" (click)="selectMenuItem('hoSo')"
          [class.selected]="selectedMenuItem === 'hoSo'" (click)="showPage('hoSo')">
          <mat-icon class="menu-icon">account_circle</mat-icon> Hồ Sơ
        </mat-list-item>
        <mat-list-item role="listitem" class="menu-list" (click)="selectMenuItem('diaChi')"
          [class.selected]="selectedMenuItem === 'diaChi'" (click)="showPage('diaChi')">
          <mat-icon class="menu-icon">location_on</mat-icon> Địa chỉ
        </mat-list-item>
        <mat-list-item role="listitem" class="menu-list" (click)="selectMenuItem('doiMatKhau')"
          [class.selected]="selectedMenuItem === 'doiMatKhau'" (click)="showPage('doiMatKhau')">
          <mat-icon class="menu-icon">vpn_key</mat-icon> Đổi mật khẩu
        </mat-list-item>
        <mat-list-item role="listitem" class="menu-list" (click)="selectMenuItem('donHang')"
          [class.selected]="selectedMenuItem === 'donHang'" (click)="showPage('donHang')">
          <mat-icon class="menu-icon">shopping_cart</mat-icon> Đơn hàng
        </mat-list-item>

        <mat-list-item (click)="selectMenuItem('dangxuat')" [class.selected]="selectedMenuItem === 'dangxuat'"
          (click)="logout()" role="listitem" class="menu-list">
          <mat-icon> exit_to_app</mat-icon> Đăng xuất
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
  <!-- user right -->
  <div class="right-user" *ngIf="getCustomer">
    <!-- Trang Ho So -->
      <div class="right-user-1" *ngIf="currentPage === 'hoSo'">
        <mat-card class="highlighted-title-card">
          <mat-card-content style="font-size: 18px; color: #FFF;">HỒ SƠ CỦA TÔI</mat-card-content>
        </mat-card>
        <div class="content-profile">
          <p class="style-text-dn">Tên người dùng</p>
          <mat-form-field class="full-width-input" appearance="fill">
            <input matInput placeholder="Full name" [(ngModel)]="getCustomer.fullName ">
          </mat-form-field>

          <p class="style-text">Số điện thoại</p>
          <mat-form-field class="full-width-input" appearance="fill">
            <input matInput placeholder="Số điện thoại" [(ngModel)]="getCustomer.phone">
          </mat-form-field>

          <p class="style-text">Email</p>
          <mat-form-field class="full-width-input" appearance="fill">
            <input matInput placeholder="Email" [(ngModel)]="getCustomer.email">
          </mat-form-field>

          <p class="style-text">Giới tính</p>
          <mat-radio-group class="checkbox radio-spacing" [(ngModel)]="gender">
            <mat-radio-button value="nam">Nam</mat-radio-button>
            <mat-radio-button value="nữ">Nữ</mat-radio-button>
            <mat-radio-button value="khác">Khác</mat-radio-button>
          </mat-radio-group>
          <p class="style-text-nn">Ngày sinh</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="MM/DD/YYYY" [(ngModel)]="getCustomer.birthday" [matDatepicker]="datepicker">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker (dateChange)="onDateChange($event)">
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
          <!-- Nút Lưu -->
          <button mat-raised-button class="save-button" (click)="updateprofile()">Lưu</button>
        </div>
      </div>
    
    <!-- Trang dia chi -->
    <div class="right-user-1" *ngIf="currentPage === 'diaChi'">
      <mat-card class="highlighted-title-card">
          <mat-card-content style="font-size: 18px; color: #FFF;">THÔNG TIN NHẬN HÀNG</mat-card-content>
      </mat-card>
      <div class="content-address">
          <p class="style-text-dn">Tỉnh/Thành phố</p>
          <mat-form-field class="full-width-input" appearance="fill">
            <input matInput  placeholder="Nhập tỉnh/Thành phố"  [(ngModel)]="blameaddress.t"   (input)="updateAddress()">
          </mat-form-field>

          <p class="style-text">Quận/Huyện</p>
          <mat-form-field class="full-width-input" appearance="fill">
            <input matInput placeholder="Nhập tỉnh/Thành phố" [(ngModel)]="blameaddress.h" (input)="updateAddress()" >
          </mat-form-field>

          <p class="style-text">Phường/Xã</p>
          <mat-form-field class="full-width-input" appearance="fill">
            <input matInput placeholder="Nhập tỉnh/Thành phố'" [(ngModel)]="blameaddress.x" (input)="updateAddress()">
          </mat-form-field>

          <p class="style-text">Địa chỉ</p>
          <mat-form-field class="full-width-input">
            <input type="text" matInput placeholder="{{ detailedAddress ? 'Nhập chi tiết số nhà và đường':this.getCustomer.address }}"  [(ngModel)]="apt" (input)="updateAddress()">
            <span matSuffix style="width: 100px;">{{ detailedAddress }} &nbsp;</span>
          </mat-form-field>
          <button mat-raised-button class="save-button" (click)="Address()">Lưu</button>
        </div>
  </div>

    <!-- Trang doi mat khau -->
    <div class="right-user-1" *ngIf="currentPage === 'doiMatKhau'">
      <mat-card class="highlighted-title-card">
        <mat-card-content style="font-size: 18px; color: #FFF;">ĐỔI MẬT KHẨU</mat-card-content>
      </mat-card>
      <div class="content-ChangePassword">
        <p class="style-text-dn">Mật khẩu hiện tại</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput type="password" [(ngModel)]="Dataupdatepassword.passwordODL"
            placeholder="Nhập nhập mật khẩu hiện tại...">
        </mat-form-field>

        <p class="style-text">Mật khẩu mới</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput type="password" [(ngModel)]="Dataupdatepassword.password" placeholder="Nhập mật khẩu mới...">
        </mat-form-field>

        <p class="style-text">Nhập lại mật khẩu</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput [(ngModel)]="Dataupdatepassword.passwordconfirm" type="password"
            placeholder="Nhập lại mật khẩu mới...">
        </mat-form-field>

        <!-- Nút Lưu -->
        <button mat-raised-button class="save-button" (click)="Updatepass()">Lưu</button>
      </div>
    </div>

    <!-- Trang don hang -->
    <div class="right-user-2" *ngIf="currentPage === 'donHang'">
      <mat-card>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1" >
            <button ngbNavLink class="highlighted-title-order">CHỜ XÁC NHẬN</button>
            <ng-template  ngbNavContent style="background-color:#E9EAEE; ">
              <div  class="content-order" *ngFor="let item of getOrdersByStatus(0)" >
                <mat-icon *ngIf="item.status==1">check_circle</mat-icon>
                <mat-icon  *ngIf="item.status==0">autorenew</mat-icon>
    
                <div class="content-order-top" *ngFor="let img of item.image0;let i = index">
    
                  <div class="content-order-top-left">
                    <img src="{{ img }}" alt="Product Image">
                  </div>
    
                  <div class="content-order-top-right">
                    <div class="product-name">{{ item.title[i] }}</div>
    
                    <div class="product-details">
                      <p>Số lượng: <span>{{ item.quantity[i] }}</span></p>
                      <p>Đơn giá: <span>{{ ((item.price[i])*item.quantity[i] )| number:'1.0-0'}} <sup>đ</sup></span></p>
                    </div>
                  </div>
              </div>      
              <hr>
              <div class="content-order-bottom">
                <p>Ngày mua:
                  <span>{{ item.description | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                </p>
                  <p>Thành tiền:
                      <span>{{(this.totalcart) |number:'1.0-0'}}<sup>đ</sup></span>
                  </p>
              </div>
            </div>
            </ng-template>
            
          </li>
          <li [ngbNavItem]="2" >
            <button ngbNavLink class="highlighted-title-order">ĐANG VẬN CHUYỂN</button>
            <ng-template  ngbNavContent style="background-color:#E9EAEE; ">
              <div  class="content-order" *ngFor="let item of getOrdersByStatus(0)" >
                <mat-icon *ngIf="item.status==1">check_circle</mat-icon>
                <mat-icon  *ngIf="item.status==0">autorenew</mat-icon>
    
                <div class="content-order-top" *ngFor="let img of item.image0;let i = index">
    
                  <div class="content-order-top-left">
                    <img src="{{ img }}" alt="Product Image">
                  </div>
    
                  <div class="content-order-top-right">
                    <div class="product-name">{{ item.title[i] }}</div>
    
                    <div class="product-details">
                      <p>Số lượng: <span>{{ item.quantity[i] }}</span></p>
                      <p>Đơn giá: <span>{{ ((item.price[i])*item.quantity[i] )| number:'1.0-0'}} <sup>đ</sup></span></p>
                    </div>
                  </div>
              </div>      
              <hr>
              <div class="content-order-bottom">
                <p>Ngày mua:
                  <span>{{ item.description | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                </p>
                  <p>Thành tiền:
                      <span>{{(this.totalcart) |number:'1.0-0'}}<sup>đ</sup></span>
                  </p>
              </div>
            </div>
            </ng-template>
            
          </li>
          <li [ngbNavItem]="3">
            <button ngbNavLink  class="highlighted-title-order" >ĐÃ HOÀN THÀNH</button>
            <ng-template ngbNavContent  >
              <div class="content-order" *ngFor="let item of getOrdersByStatus(1)">
                <mat-icon *ngIf="item.status==1">check_circle</mat-icon>
                <mat-icon  *ngIf="item.status==0">autorenew</mat-icon>
    
                <div class="content-order-top" *ngFor="let img of item.image0;let i = index">
    
                  <div class="content-order-top-left">
                    <img src="{{ img }}" alt="Product Image">
                  </div>
    
                  <div class="content-order-top-right">
                    <div class="product-name">{{ item.title[i] }}</div>
    
                    <div class="product-details">
                      <p>Số lượng: <span>{{ item.quantity[i] }}</span></p>
                      <p>Đơn giá: <span>{{ ((item.price[i])*item.quantity[i] )| number:'1.0-0'}} <sup>đ</sup></span></p>
                    </div>
                  </div>
              </div>      
              <hr>
              <div class="content-order-bottom">
                <p>Ngày mua:
                  <span>{{ item.description | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                </p>
                  <p>Thành tiền:
                      <span>{{(this.totalcart) |number:'1.0-0'}}<sup>đ</sup></span>
                  </p>
              </div>
            </div>
          </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <button ngbNavLink  class="highlighted-title-order">ĐƠN ĐÃ HỦY</button>
            <ng-template ngbNavContent >
              <div class="content-order" *ngFor="let item of shopingCart">
                <mat-icon *ngIf="item.status==1">check_circle</mat-icon>
                <mat-icon  *ngIf="item.status==0">autorenew</mat-icon>
    
                <div class="content-order-top" *ngFor="let img of item.image0;let i = index">
    
                  <div class="content-order-top-left">
                    <img src="{{ img }}" alt="Product Image">
                  </div>
    
                  <div class="content-order-top-right">
                    <div class="product-name">{{ item.title[i] }}</div>
    
                    <div class="product-details">
                      <p>Số lượng: <span>{{ item.quantity[i] }}</span></p>
                      <p>Đơn giá: <span>{{ ((item.price[i])*item.quantity[i] )| number:'1.0-0'}} <sup>đ</sup></span></p>
                    </div>
                  </div>
              </div>      
              <hr>
              <div class="content-order-bottom">
                <p>Ngày mua:
                  <span>{{ item.description | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                </p>
                  <p>Thành tiền:
                      <span>{{(this.totalcart) |number:'1.0-0'}}<sup>đ</sup></span>
                  </p>
              </div>
            </div>
          </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div> 
      </mat-card>

      <div class="title-order">

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>