<app-header></app-header>
<div class="main user">
  <!-- user left -->
  <mat-card class="left-user">
    <!-- left top user -->
    <div class="info-user">
      <!-- chứa ảnh nằm bên trái thẻ div -->
      <div class="img-user">
        <advanced-image [cldImg]="img" style="border-radius: 50%;"></advanced-image>
      </div>
      <div class="name-edit-container">
        <h3 class="user-name">{{ getCustomer?.fullName }}</h3>
        <div (click)="selectImage()" class="edit-button-1">
          <p>Sửa ảnh</p>
          <mat-icon>edit</mat-icon>
          <input (change)="onSelect($event)" accept="image/*" id="file-input" style="display: none;" type="file">
        </div>
      </div>
    </div>

    <!-- left bottom user -->
    <div class="menu-user ">
      <mat-list role="list">
        <mat-list-item (click)="selectMenuItem('hoSo')" (click)="showPage('hoSo')"
                       [class.selected]="selectedMenuItem === 'hoSo'"
                       class="menu-list" role="listitem">
          <mat-icon class="menu-icon">account_circle</mat-icon>
          Hồ Sơ
        </mat-list-item>
        <mat-list-item (click)="selectMenuItem('diaChi')" (click)="showPage('diaChi')"
                       [class.selected]="selectedMenuItem === 'diaChi'"
                       class="menu-list" role="listitem">
          <mat-icon class="menu-icon">location_on</mat-icon>
          Địa chỉ
        </mat-list-item>
        <mat-list-item (click)="selectMenuItem('doiMatKhau')" (click)="showPage('doiMatKhau')"
                       [class.selected]="selectedMenuItem === 'doiMatKhau'"
                       class="menu-list" role="listitem">
          <mat-icon class="menu-icon">vpn_key</mat-icon>
          Đổi mật khẩu
        </mat-list-item>
        <mat-list-item (click)="selectMenuItem('donHang')" (click)="showPage('donHang')"
                       [class.selected]="selectedMenuItem === 'donHang'"
                       class="menu-list" role="listitem">
          <mat-icon class="menu-icon">shopping_cart</mat-icon>
          Đơn hàng
        </mat-list-item>

        <mat-list-item (click)="selectMenuItem('dangxuat')" (click)="logout()"
                       [class.selected]="selectedMenuItem === 'dangxuat'" class="menu-list" role="listitem">
          <mat-icon> exit_to_app</mat-icon>
          Đăng xuất
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
  <!-- user right -->
  <div *ngIf="getCustomer" class="right-user">
    <!-- Trang Ho So -->
    <div *ngIf="currentPage === 'hoSo'" class="right-user-1">
      <mat-card class="highlighted-title-card">
        <mat-card-content style="font-size: 18px; color: #FFF;">HỒ SƠ CỦA TÔI</mat-card-content>
      </mat-card>
      <div class="content-profile">
        <p class="style-text-dn">Tên người dùng</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input [(ngModel)]="getCustomer.fullName " matInput placeholder="Full name">
        </mat-form-field>

        <p class="style-text">Số điện thoại</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input [(ngModel)]="getCustomer.phone" matInput placeholder="Số điện thoại">
        </mat-form-field>

        <p class="style-text">Email</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input [(ngModel)]="getCustomer.email" matInput placeholder="Email">
        </mat-form-field>

        <p class="style-text">Giới tính</p>
        <mat-radio-group [(ngModel)]="gender" class="checkbox radio-spacing">
          <mat-radio-button value="nam">Nam</mat-radio-button>
          <mat-radio-button value="nữ">Nữ</mat-radio-button>
          <mat-radio-button value="khác">Khác</mat-radio-button>
        </mat-radio-group>
        <p class="style-text-nn">Ngày sinh</p>
        <mat-form-field class="full-width-input">
          <input [(ngModel)]="getCustomer.birthday" [matDatepicker]="datepicker" matInput placeholder="MM/DD/YYYY">
          <mat-datepicker-toggle [for]="datepicker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepicker (dateChange)="onDateChange($event)">
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button color="primary" mat-raised-button matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <!-- Nút Lưu -->
        <button (click)="updateprofile()" class="save-button" mat-raised-button>Lưu</button>
      </div>
    </div>

    <!-- Trang dia chi -->
    <div *ngIf="currentPage === 'diaChi'" class="right-user-1">
      <mat-card class="highlighted-title-card">
        <mat-card-content style="font-size: 18px; color: #FFF;">THÔNG TIN NHẬN HÀNG</mat-card-content>
      </mat-card>
      <div class="content-address">
        <p class="style-text-dn">Tỉnh/Thành phố</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input (input)="updateAddress()" [(ngModel)]="blameaddress.t" matInput placeholder="Nhập tỉnh/Thành phố">
        </mat-form-field>

        <p class="style-text">Quận/Huyện</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input (input)="updateAddress()" [(ngModel)]="blameaddress.h" matInput placeholder="Nhập tỉnh/Thành phố">
        </mat-form-field>

        <p class="style-text">Phường/Xã</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input (input)="updateAddress()" [(ngModel)]="blameaddress.x" matInput placeholder="Nhập tỉnh/Thành phố'">
        </mat-form-field>

        <p class="style-text">Địa chỉ</p>
        <mat-form-field class="full-width-input">
          <input (input)="updateAddress()" [(ngModel)]="apt"
                 matInput
                 placeholder="{{ detailedAddress ? 'Nhập chi tiết số nhà và đường':this.getCustomer.address }}"
                 type="text">
          <span matSuffix style="width: 100px;">{{ detailedAddress }} &nbsp;</span>
        </mat-form-field>
        <button (click)="Address()" class="save-button" mat-raised-button>Lưu</button>
      </div>
    </div>

    <!-- Trang doi mat khau -->
    <div *ngIf="currentPage === 'doiMatKhau'" class="right-user-1">
      <mat-card class="highlighted-title-card">
        <mat-card-content style="font-size: 18px; color: #FFF;">ĐỔI MẬT KHẨU</mat-card-content>
      </mat-card>
      <div class="content-ChangePassword">
        <p class="style-text-dn">Mật khẩu hiện tại</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input [(ngModel)]="Dataupdatepassword.passwordODL" matInput placeholder="Nhập nhập mật khẩu hiện tại..."
                 type="password">
        </mat-form-field>

        <p class="style-text">Mật khẩu mới</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input [(ngModel)]="Dataupdatepassword.password" matInput placeholder="Nhập mật khẩu mới..." type="password">
        </mat-form-field>

        <p class="style-text">Nhập lại mật khẩu</p>
        <mat-form-field appearance="fill" class="full-width-input">
          <input [(ngModel)]="Dataupdatepassword.passwordconfirm" matInput placeholder="Nhập lại mật khẩu mới..."
                 type="password">
        </mat-form-field>

        <!-- Nút Lưu -->
        <button (click)="Updatepass()" class="save-button" mat-raised-button>Lưu</button>
      </div>
    </div>

    <!-- Trang don hang -->
    <div *ngIf="currentPage === 'donHang'" class="right-user-2">
      <mat-card>
        <ul #nav="ngbNav" [(activeId)]="active" class="nav-tabs" ngbNav>
          <li [ngbNavItem]="1">
            <button class="highlighted-title-order" ngbNavLink>CHỜ XÁC NHẬN</button>
            <ng-template ngbNavContent style="background-color:#E9EAEE; ">
              <div *ngFor="let item of getOrdersByStatus(0)" class="content-order">
                <mat-icon *ngIf="item.status==1">check_circle</mat-icon>
                <mat-icon *ngIf="item.status==0">autorenew</mat-icon>

                <div *ngFor="let img of item.image0;let i = index" class="content-order-top">

                  <div class="content-order-top-left">
                    <img alt="Product Image" src="{{ img }}">
                  </div>

                  <div class="content-order-top-right">
                    <div class="product-name">{{ item.title[i] }}</div>

                    <div class="product-details">
                      <p>Số lượng: <span>{{ item.quantity[i] }}</span></p>
                      <p>Đơn giá: <span>{{ ((item.price[i]) * item.quantity[i])| number:'1.0-0' }} <sup>đ</sup></span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="content-order-bottom">
                  <p>Ngày mua:
                    <span>{{ item.description | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </p>
                  <p>Thành tiền:
                    <span>{{ (this.totalcart) |number:'1.0-0' }}<sup>đ</sup></span>
                  </p>
                </div>
              </div>
            </ng-template>

          </li>
          <li [ngbNavItem]="2">
            <button class="highlighted-title-order" ngbNavLink>ĐANG VẬN CHUYỂN</button>
            <ng-template ngbNavContent style="background-color:#E9EAEE; ">
              <div *ngFor="let item of getOrdersByStatus(0)" class="content-order">
                <mat-icon *ngIf="item.status==1">check_circle</mat-icon>
                <mat-icon *ngIf="item.status==0">autorenew</mat-icon>

                <div *ngFor="let img of item.image0;let i = index" class="content-order-top">

                  <div class="content-order-top-left">
                    <img alt="Product Image" src="{{ img }}">
                  </div>

                  <div class="content-order-top-right">
                    <div class="product-name">{{ item.title[i] }}</div>

                    <div class="product-details">
                      <p>Số lượng: <span>{{ item.quantity[i] }}</span></p>
                      <p>Đơn giá: <span>{{ ((item.price[i]) * item.quantity[i])| number:'1.0-0' }} <sup>đ</sup></span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="content-order-bottom">
                  <p>Ngày mua:
                    <span>{{ item.description | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </p>
                  <p>Thành tiền:
                    <span>{{ (this.totalcart) |number:'1.0-0' }}<sup>đ</sup></span>
                  </p>
                </div>
              </div>
            </ng-template>

          </li>
          <li [ngbNavItem]="3">
            <button class="highlighted-title-order" ngbNavLink>ĐÃ HOÀN THÀNH</button>
            <ng-template ngbNavContent>
              <div *ngFor="let item of getOrdersByStatus(1)" class="content-order">
                <mat-icon *ngIf="item.status==1">check_circle</mat-icon>
                <mat-icon *ngIf="item.status==0">autorenew</mat-icon>

                <div *ngFor="let img of item.image0;let i = index" class="content-order-top">

                  <div class="content-order-top-left">
                    <img alt="Product Image" src="{{ img }}">
                  </div>

                  <div class="content-order-top-right">
                    <div class="product-name">{{ item.title[i] }}</div>

                    <div class="product-details">
                      <p>Số lượng: <span>{{ item.quantity[i] }}</span></p>
                      <p>Đơn giá: <span>{{ ((item.price[i]) * item.quantity[i])| number:'1.0-0' }} <sup>đ</sup></span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="content-order-bottom">
                  <p>Ngày mua:
                    <span>{{ item.description | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </p>
                  <p>Thành tiền:
                    <span>{{ (this.totalcart) |number:'1.0-0' }}<sup>đ</sup></span>
                  </p>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <button class="highlighted-title-order" ngbNavLink>ĐƠN ĐÃ HỦY</button>
            <ng-template ngbNavContent>
              <div *ngFor="let item of shopingCart" class="content-order">
                <mat-icon *ngIf="item.status==1">check_circle</mat-icon>
                <mat-icon *ngIf="item.status==0">autorenew</mat-icon>

                <div *ngFor="let img of item.image0;let i = index" class="content-order-top">

                  <div class="content-order-top-left">
                    <img alt="Product Image" src="{{ img }}">
                  </div>

                  <div class="content-order-top-right">
                    <div class="product-name">{{ item.title[i] }}</div>

                    <div class="product-details">
                      <p>Số lượng: <span>{{ item.quantity[i] }}</span></p>
                      <p>Đơn giá: <span>{{ ((item.price[i]) * item.quantity[i])| number:'1.0-0' }} <sup>đ</sup></span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="content-order-bottom">
                  <p>Ngày mua:
                    <span>{{ item.description | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </p>
                  <p>Thành tiền:
                    <span>{{ (this.totalcart) |number:'1.0-0' }}<sup>đ</sup></span>
                  </p>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </mat-card>

      <div class="title-order">

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>