<div (click)="closeModal()" class="modal-overlay">
  <div (click)="$event.stopPropagation()" class="modal-content">
    <div class="name-content">
      Thêm voucher
    </div>
    <hr>
    <div class="bookname-add">
      <label>Mã voucher</label>
      <input (ngModelChange)="DataVoucher.Id = convertToUppercase($event)" [(ngModel)]="DataVoucher.Id" type="text">
    </div>
    <div class="bookname-add">
      <label>Phần trăm giảm</label>
      <input [(ngModel)]="DataVoucher.PercentDiscount" type="number">
    </div>
    <div class="bookname-add">
      <label>Số tiền tối đa</label>
      <input [(ngModel)]="DataVoucher.MaxDiscount" type="number">
    </div>
    <div class="bookname-add">
      <label>Số lượng</label>
      <input [(ngModel)]="DataVoucher.Quantity" type="number">
    </div>
    <div class="bookname-add">
      <label>Ngày Bắt đầu</label>
      <input [(ngModel)]="this.DataVoucher.dateBegin" type="date">
    </div>
    <div class="bookname-add">
      <label>Ngày kết thúc</label>
      <input [(ngModel)]="this.DataVoucher.dateEnd" type="date">
    </div>
    <div class="btn-cancel-apply">
      <button (click)="closeModal()" mat-raised-button>HUỶ</button>
      <button (click)="addVoucher()" mat-raised-button>TẠO VOUCHER</button>
    </div>
  </div>
</div>
