<div (click)="closeModal()" class="modal-overlay">
  <div (click)="$event.stopPropagation()" class="modal-content" id="formregister" style="display:none;">
    <div class="form-register">
      <div class="register-left">
        <div class="logo">
          <img alt="" src="assets/logo.png">
        </div>
        <div class="infomation-register">
          <label class="lblhover" for="phone">Số điện thoại</label>
          <div class="form-input" id="sendOtp"><input [(ngModel)]="DataRegister.phone" [disabled]="isInputDisabledphone"
                                                      class="input-register" name="phone" style="width: 72%;"
                                                      type="text">
            <div (click)="sendOTP()" class="send-otp">Gửi mã otp</div>
          </div>
          <div *ngIf="errorMessagePhone" class="error-message">
            {{ errorMessagePhone }}
          </div>
          <label class="lblhover" for="otp">Mã Otp</label>
          <div class="form-input"><input (keyup)="verifyOTP($event)" [(ngModel)]="DataRegister.otp"
                                         [disabled]="isInputDisabledOpt" autocomplete="false" class="input-register"
                                         name="otp" type="text"></div>
          <div *ngIf="errorMessagePhone" class="error-message">
            {{ errorMessageEmail }}
          </div>
          <div id="name">
            <label class="lblhover" for="username">Tên đăng nhập</label>
            <div class="form-input"><input [(ngModel)]="DataRegister.username" [disabled]="isInputDisabled"
                                           autocomplete="false"
                                           class="input-register" name="username" type="text">
            </div>
          </div>
          <label class="lblhover" for="password">Mật khẩu</label>
          <div class="form-input">
            <input (keyup)="eyeError()" [(ngModel)]="DataRegister.password" [disabled]="isInputDisabled"
                   [type]="showPassword ? 'text' : 'password'"
                   autocomplete="false" class="input-register" name="password">
            <mat-icon (click)="togglePasswordVisibility()" *ngIf="eye">
              {{ showPassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </div>
          <div *ngIf="errorPassword" class="error-message">
            {{ errorPassword }}
          </div>
          <label class="lblhover" for="confirm_password">Xác nhận mật khẩu</label>
          <div class="form-input">
            <input (keyup)="eyeConfirmError()" [(ngModel)]="DataRegister.confirmPassword" [disabled]="isInputDisabled"
                   [type]="showPasswordConfirm ? 'text' : 'password'"
                   autocomplete="false" class="input-register"
                   name="confirm_password">
            <mat-icon (click)="togglePasswordConfirmVisibility()" *ngIf="eyeConfirm">
              {{ showPasswordConfirm ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </div>
          <div *ngIf="errorConfirmPassword" class="error-message">
            {{ errorConfirmPassword }}
          </div>
          <div class="btn-register-div">
            <button (click)="register()" class="btn-register" id="btnregister">Đăng ký</button>
            <button (click)="Fogetpass()" class="btn-register" id="btnforget" style="display:none">Xác nhận</button>
          </div>
        </div>
      </div>
      <div class="register-right">
        <img alt="" src=" assets/login-logout/register.jpg">
        <div class="text-welcome">
          <div id="phone"></div>
          <span
            style="color: #fbf9f9 ; font-weight: bold; font-size: 26px;">Chào mừng bạn đến với <br>KANN bookstore</span>
          <br><br>
          <p>Nếu đã có tài khoản vui lòng đăng nhập</p>
        </div>
        <button (click)="FormLoginRegister()" class="btn-dn">Đăng nhập</button>
      </div>
    </div>
  </div>
  <div (click)="$event.stopPropagation()" class="modal-content" id="formlogin">
    <!-- ----------------dang nhap------------------ -->
    <div class="form-login">
      <div class="login-left">
        <img alt="" src=" assets/login-logout/login.jpg">
        <div class="text-welcome">
          <span
            style="color: #fbf9f9 ; font-weight: bold; font-size: 26px;">Chào mừng bạn đến với <br>KANN bookstore</span>
          <br><br>
          <p>Vui lòng đăng ký khi bạn chưa có tài khoản</p>
        </div>
        <button (click)="FormLoginRegister()" class="btn-dn">Đăng Ký</button>
      </div>
      <div class="login-right">
        <div class="logo">
          <img alt="" src="assets/logo.png">
        </div>
        <div class="infomation-login">
          <label class="lblhover" for="">Số điện thoại</label>
          <input (input)="JustNumber($event)" [(ngModel)]="Datalogin.phoneLogin" class="input-login" name="phoneLogin"
                 type="text">
          <label class="lblhover" for="">Mật khẩu</label>
          <input [(ngModel)]="Datalogin.passLogin" class="input-login" name="PassLogin" type="password">
        </div>
        <div class="remember">
          <label></label>
          <label (click)="ChangPageForget()" style="margin-right:100px;color: cadetblue; ">Quên mật khẩu</label>
        </div>
        <button (click)="login()" class="btn btn-login">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>





