<footer>
  <div class="footer-bottom">
    <div class="contact-info">
      <h3>LIÊN HỆ</h3>
      <p>
        <mat-icon class="mat-icon-map">location_on</mat-icon>
        578 Đường Nguyễn Duy, phường 10, Quận 8, Thành phố Hồ Chí Minh
      </p>

      <app-map (closeModalEvent)="isMapModalVisible = false" *ngIf="isMapModalVisible"></app-map>
      <!-- <span class="bold-text">Số điện thoại liên hệ:</span> -->
      <p>
        <mat-icon class="mat-icon"> phone</mat-icon>
        0930 232 555
      </p>
      <!-- <span class="bold-text">Mail:</span> -->
      <p>
        <mat-icon>mail</mat-icon>
        kanncskh@gmail.com
      </p>
      <div class="social-icons">
        <button class="icon-btn"><img alt="Facebook Icon" src="assets/footer/fb-icon.png"></button>
        <button class="icon-btn"><img alt="Instagram Icon" src="assets/footer/ig-icon.png"></button>
        <button class="icon-btn"><img alt="YouTube Icon" src="assets/footer/yt-icon.png"></button>
        <button class="icon-btn"><img alt="Tumblr Icon" src="assets/footer/tbl-icon.png"></button>
        <button class="icon-btn"><img alt="Twitter Icon" src="assets/footer/t-icon.png"></button>
        <button class="icon-btn"><img alt="Pinterest Icon" src="assets/footer/pr-icon.png"></button>
      </div>
    </div>

    <div class="footer-left">
      <div class="footer-logo">
        <img alt="Logo" class="logo" src="assets/logo.png">
      </div>
      <!-- Signup Text -->
      <p class="italic-text">Đăng ký nhận bảng tin từ KANN book store</p>
      <!-- Email Input -->
      <div class="email-input">
        <input placeholder="Nhập mail của bạn..." type="email">
      </div>
    </div>
    <div class="footer-right">
      <img alt="Logo Bay" class="pay-logo" src="assets/footer/logopay.png">
    </div>
  </div>
</footer>
