<div (click)="closeModal()" class="modal-overlay">
  <div (click)="$event.stopPropagation()" class="modal-content">
    <div class="name-content">
      Thêm nhân viên
    </div>
    <hr>
    <div class="bookname-add">
      <label>Tên nhân viên</label>
      <input [(ngModel)]="DataStaff.FullName" type="text">
    </div>
    <div class="bookname-add">
      <label>Email</label>
      <input [(ngModel)]="DataStaff.Email" type="email">
    </div>
    <div class="bookname-add">
      <label>Số điện thoại</label>
      <input [(ngModel)]="DataStaff.Phone" type="tel">
    </div>
    <div class="bookname-add">
      <label>Mật khẩu</label>
      <input [(ngModel)]="DataStaff.Password" type="password">
    </div>
    <div class="bookname-add">
      <label>Phân quyền</label>
      <select>
        <option value="nhanvien">Nhân viên</option>
        <option value="quanly">Quản lý</option>
      </select>
    </div>
    <div class="btn-cancel-apply">
      <button (click)="closeModal()" mat-raised-button>HUỶ</button>
      <button (click)="addStaff()" mat-raised-button>THÊM</button>
    </div>
  </div>
</div>
