.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sach {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.form-left {
  flex: 1;
  flex-direction: column;
  background-color: #e9eaee;
  min-height: 100vh;
  margin-right: 2%;
  padding: 20px;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  overflow-y: auto;
}

.form-right {
  flex: 5;
  overflow-y: auto;
  padding-right: 2%;
}
.login_admin {
  border: 1px solid black;
  width: 40%;
  height: 50%;
}

.login_admin .name_content {
  display: flex;
  font-size: 25px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 40px;
  margin-bottom: 50px;
}

.login_admin .text_login {
  display: flex;
  justify-content: center;
  width: 100%;

}

.text_name {
  width: 60%;
}
