<div class="container-start">
  <div *ngFor="let i of itemsToRepeat; let index = index">
    <mat-icon (click)="handleUpdateRating(index )" *ngIf="index + 1 <= rating" class="star-icon filled-star">star
    </mat-icon>
    <mat-icon (click)="handleUpdateRating(index + 1)" *ngIf="index + 0.5 >= rating && index < rating"
              class="star-icon filled-star">star_half
    </mat-icon>
    <mat-icon (click)="handleUpdateRating(index + 1)" *ngIf="index - 1 >= rating || index >= rating" class="star-icon">
      star_border
    </mat-icon>
  </div>
</div>
