<app-header></app-header>
<div id="cart">
  <div class="container">
  <div class="main-cart">
    <div class="left-cart">
      <div class="left-cart-scroll">
        <div class="highlighted-products-section">
            <mat-card class="highlighted-title-card">
                <mat-card-content style="font-size: 18px; color: #FFF;">THÔNG TIN SẢN PHẨM
                </mat-card-content>
            </mat-card>
            <div class="table-1">
              <table class="table-1">
                <tr>
                    <th>
                        <mat-checkbox (change)="selectAll($event)"></mat-checkbox>
                    </th>
                    <th>
                        Chọn tất cả sản phẩm
                    </th>
                    <th>
                        Tên sách
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Đơn giá
                    </th>
                    <th>
                        Xoá
                    </th>
                </tr>
                <tbody>
                <tr *ngFor="let cart of books ">
                    <td>
                      <mat-checkbox (change)="toggleCheckbox($event, cart.bookId)" [(ngModel)]="isChecked[cart.bookId]"></mat-checkbox>
                    </td>
                    <td>
                        <img src="{{cart.image0}}" alt="">
                    </td>
                    <td>
                      {{cart.title}}
                    </td>
                    <td>
                      <div class="quantity">
                        <input type="number" placeholder="1"  min="1" max="{{ cart.quantity }}" [(ngModel)]="quantity[cart.bookId]" (ngModelChange)="updateQuantity(cart.bookId, quantity[cart.bookId])">
                      </div>
                    </td>
                    <td >
                      {{ ((quantity[cart.bookId] != null ? quantity[cart.bookId] : 1) * percent1(cart.unitPrice, cart.pricePercent)) | number:'1.0-0' }}<sup>đ</sup>
                    </td>
                    <td>
                        <button class="btn-trash" (click)="deletecart(cart.bookId)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </tr>
              </tbody>
             </table>

          </div>
        </div>
      </div>
      </div>
      <div class="right-cart">
            <div class="highlighted-products-section">
                <mat-card class="highlighted-title-card">
                    <mat-card-content style="font-size: 18px; color: #FFF;">THÀNH TIỀN</mat-card-content>
                </mat-card>
                <div class="table-2">
                  <tbody >
                    <tr>
                        <td>Số lượng sản phẩm:</td>
                        <td>{{this.totalProduct}}</td>
                    </tr>
                    <tr>
                        <th>Tổng số tiền:</th>
                        <th><span>{{(this.totalmoney)| number:'1.0-0'}}<sup>đ</sup></span></th>
                    </tr>
                  </tbody>
                  <div class="btn-pay">
                    <button mat-raised-button (click)="BuyProduct()">THANH TOÁN</button>
                </div>
                </div>
        </div>
        <!-- <div class="button-wrapper"> -->

        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<div class="NO-CART" id="cartnone">
<div class="notification">
  <div class="image-cart-none"><img src="./assets/no-shopping-cart.png"></div>
  <div class="cart-none-font">Chưa có sản phẩm nào trong giỏ hàng của bạn</div>
  <button mat-flat-button color="warn" routerLink="/home">MUA SẮM NGAY</button>
</div>
</div>
<app-footer></app-footer>
