<div class="logo">
    <img src="assets/logo.png" alt="logo">
</div>
<hr>
<div class="menu-list">
    <mat-nav-list>
        <mat-list-item routerLink="/admin" >
            <mat-icon>book</mat-icon> Sách
        </mat-list-item>
        <mat-list-item routerLink="/user-admin">
            <mat-icon>person</mat-icon> Người dùng
        </mat-list-item>
        <mat-list-item routerLink="/order-admin">
            <mat-icon>receipt</mat-icon> Đơn hàng
        </mat-list-item>
        <mat-list-item routerLink="/voucher-admin">
            <mat-icon>card_giftcard</mat-icon> Voucher
        </mat-list-item>
        <mat-list-item routerLink="/comment-admin">
            <mat-icon>comment</mat-icon> Bình luận
        </mat-list-item>
        <mat-list-item routerLink="/staff-admin">
            <mat-icon>people</mat-icon> Nhân viên
        </mat-list-item>
        <mat-list-item routerLink="/revenue-admin">
            <mat-icon>bar_chart</mat-icon> Thống kê doanh thu
        </mat-list-item>
    </mat-nav-list>
</div>