<div class="staff">
    <div class="form-left">
       <app-menu></app-menu>
    </div>

    <div class="form-right">
        <div class="title">
          QUẢN LÝ CỬA HÀNG
        </div>
        <div class="content">
            <div class="name-content">
                Nhân viên
            </div>
            <hr>
            <div class="search-add">
                <div class="search-container">
                    <input type="text"  placeholder="Tìm kiếm..." class="search-input">
                    <button class="search-btn">
                        <mat-icon class="search-icon" >search</mat-icon>
                    </button>
                </div>
                <div class="add-delete">
                    <div class="add-container">
                        <button mat-raised-button class="add-btn" (click)="openAddStaffModal()">+ Thêm nhân viên</button>
                    </div>
                    <app-modal-add-staff *ngIf="isAddStaffModalVisible" (closeModalEvent)="isAddStaffModalVisible = false"></app-modal-add-staff>
                    <div class="add-container">
                        <button mat-raised-button class="add-btn">Xoá tất cả</button>
                    </div>
                </div>
            </div>
            <table class="info-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" (change)="selectAll($event)" [checked]="selectAllChecked"></th>
                        <th>Tên nhân viên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Phân quyền</th>
                        <th>Xoá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let staff of filteredUsers">
                        <td><input type="checkbox" (change)="selectStaff($event, staff)" [checked]="selectedStaff.includes(staff)"></td>
                        <td>{{ staff.fullName }}</td>
                        <td>{{ staff.email }}</td>
                        <td>{{ staff.phone }}</td>
                        <td></td>
                        <td>
                            <button mat-icon-button (click)="openDeleteModal()"><mat-icon>delete</mat-icon></button>
                        </td>
                        <app-modal-xoa *ngIf="isDeleteModalVisible" (closeModalEvent)="isDeleteModalVisible = false"></app-modal-xoa>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>


